    section {
        position: relative;

        .bg-img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            z-index: -4;
            filter: brightness(17%);
        }
    }

    .container {
        .header {
            font-size: 1.8rem;
            font-weight: 600;
            color: $success;
            margin-bottom: 1.5rem
        }
    }

    section {
        margin-bottom: 4.5rem;
    }

    .top-information {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(12, 48, 1, 1) 9%, rgba(14, 54, 1, 1) 63%, rgba(17, 53, 9, 1) 92%, rgba(0, 0, 0, 1) 100%);
    }

    .nav-hero {
        .hero {
            // height: 80vh;
            position: relative;

            .hero-content {
                padding-top: 130px;
                padding-bottom: 150px;

                @media (min-width: 992px) {
                    width: 80%;
                }

                @media (max-width: 576px) {
                    padding-top: 80px;
                    padding-bottom: 100px;
                }

                h1 {
                    font-size: 54px;
                    text-align: start;

                    @media (max-width: 992px) {
                        font-size: 44px;
                    }

                    @media (max-width: 576px) {
                        font-size: 33px;
                    }
                }

                p {
                    font-size: 17px;
                    text-align: start;
                    padding-right: 6rem;

                    @media (max-width: 992px) {
                        font-size: 17px;
                    }
                }
            }

            .custom-shape-divider-bottom-1692184368 {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;
                transform: rotate(180deg);
            }

            .custom-shape-divider-bottom-1692184368 svg {
                position: relative;
                display: block;
                width: calc(173% + 1.3px);
                height: 18px;
            }

            .custom-shape-divider-bottom-1692184368 .shape-fill {
                fill: #F8F8F8;
            }
        }

        .features {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            margin-top: -3rem;
            z-index: 2 !important;

            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            div {
                padding: 2rem;
                background-color: #ffffff;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                text-align: center;
                z-index: 2 !important;

                i {
                    font-size: 2rem;
                    color: $primary;
                    margin-bottom: 0.9rem;
                }

                h3 {
                    font-size: 1.35rem;
                    font-weight: 600;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }

        .hero-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -3;
            filter: brightness(30%);
            top: 0;
        }

        .overlay {
            background: rgb(7, 28, 0);
            background: linear-gradient(90deg, rgba(7, 28, 0, 0.9248949579831933) 8%, rgba(12, 48, 1, 0.8800770308123249) 42%, rgba(14, 54, 1, 0.5859593837535014) 63%, rgba(17, 53, 9, 0.25262605042016806) 75%, rgba(56, 39, 98, 0) 100%);

            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -2;
            filter: brightness(63%);
            top: 0;
            left: 0;
        }
    }


    .services {
        margin-top: 5rem;

        .services-description {
            width: 25%;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .services-row {
            width: 73%;

            @media (max-width: 992px) {
                width: 100%;
                margin-top: 1.5rem;
            }

            .service {
                margin: 0 1rem;
                position: relative;
                border-radius: 8px;
                overflow: hidden;
                cursor: pointer;
                transition: all 0.8s;

                &:hover {
                    .hidden-info {

                        p,
                        a {
                            display: block;
                        }
                    }

                    .img-div {
                        filter: blur(3px);

                        &::after {
                            height: 100%;
                        }

                        img {
                            width: 100%;
                            min-height: 25rem;
                            object-fit: cover;
                        }
                    }
                }

                .hidden-info {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    z-index: 1;
                    color: $white;
                    width: 100%;

                    h3 {
                        text-align: center;
                        white-space: nowrap;
                        font-size: 30px;
                        text-shadow: black 0.1em 0.1em 0.2em;
                    }

                    p {
                        display: none;
                        text-align: center;
                        width: 95%;
                        margin: 0 auto;
                        text-shadow: black 0.1em 0.1em 0.2em;
                    }

                    a {
                        display: none;
                        text-align: center;
                        color: $dark;
                        background-color: $white;
                        padding: 8px 16px;
                        width: fit-content;
                        margin: 0 auto;
                        margin-top: 0.7rem;
                        border-radius: 8px;
                        ;
                    }
                }

                .img-div {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: all ease-out 0.3s;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 0%;
                        background-color: rgba(5, 85, 5, 0.7);
                        top: 0;
                        left: 0;
                        transition: all 0.3s;
                    }

                    img {
                        width: 100%;
                        min-height: 25rem;
                        object-fit: cover;
                        position: relative;
                        filter: brightness(70%);
                    }
                }
            }
        }

        .custom-shape-divider-top-1692183406 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-top-1692183406 svg {
            position: relative;
            display: block;
            width: calc(188% + 1.3px);
            height: 31px;
        }

        .custom-shape-divider-top-1692183406 .shape-fill {
            fill: #F8F8F8;
        }

        .custom-shape-divider-bottom-1692183477 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1692183477 svg {
            position: relative;
            display: block;
            width: calc(188% + 1.3px);
            height: 31px;
        }

        .custom-shape-divider-bottom-1692183477 .shape-fill {
            fill: #F8F8F8;
        }
    }

    .cta {
        height: 25rem;
        position: relative;

        .cta-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(30%);
            z-index: -1;
        }

        .custom-shape-divider-top-1692191705 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-top-1692191705 svg {
            position: relative;
            display: block;
            width: calc(164% + 1.3px);
            height: 25px;
        }

        .custom-shape-divider-top-1692191705 .shape-fill {
            fill: #F8F8F8;
        }

        .custom-shape-divider-bottom-1692191736 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1692191736 svg {
            position: relative;
            display: block;
            width: calc(164% + 1.3px);
            height: 25px;
        }

        .custom-shape-divider-bottom-1692191736 .shape-fill {
            fill: #F8F8F8;
        }
    }


    .why-us {
        .why-us-row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 2rem;

            @media (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }

            i {
                color: $success;
                font-size: 18px;
                margin-right: 4px;
            }
        }

        .why-us-img {
            display: flex;
            justify-content: end;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10% 30% 50% 70%;
                filter: brightness(90%);
            }
        }
    }

    // Service pages
    .flex-description {
        .flex {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            @media (max-width: 992px) {
                flex-direction: column;
            }
            .info-div{
                width: 100%;
            }
            .img-div {
                transition: all 0.2s;
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 100%;
                border: none;
                margin-left: 1.5rem;

                @media (max-width: 1200px) {
                    height: 100%;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: $primary;
                    top: -1rem;
                    right: -1rem;
                    z-index: -1;
                    border-radius: 8px;
                }

                @media (max-width: 992px) {
                    height: 100%;
                    width: 100%;
                    margin-left: 0rem;
                    margin-top: 3rem;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    max-height: 450px;
                    border-radius: 8px;
                    position: relative;
                    border: none;

                    @media (max-width: 1200px) {
                        height: 488px !important;
                    }
                }

                .card-inner {
                    width: inherit;
                    height: inherit;
                    background: rgba(255, 255, 255, .05);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(10px);
                    border-radius: 8px;
                }

                .card:hover {
                    transform: scale(1.04);
                }
            }
        }
    }

    .flex-description-reverse {
        .img-div {
            margin-right: 1.5rem;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: $primary;
                top: -1rem;
                left: -1rem;
                z-index: -1;
                border-radius: 8px;
            }
        }
    }

    .ratings {

        .ratings-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
            margin-bottom: 3rem;

            @media (max-width:992px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 2.2rem;
            }

            @media (max-width:576px) {
                grid-template-columns: repeat(1, 1fr);
                gap: 2.2rem;
            }

            .ratings-card {
                border: none;
                border-radius: 12px;
                margin-bottom: 10px;
                box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
                padding: 1.5rem 1rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: #ffffff;

                img {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 1rem;
                }

                h4 {
                    font-size: 1.20rem;
                    font-weight: 500;
                }

                .info {
                    line-height: 24px;
                    color: #504e4b;
                }

                .ratings {
                    font-size: .85rem;
                    line-height: 24px;
                    color: #FF9529;
                    margin-top: 0.5rem;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }

        .custom-shape-divider-top-1692342609 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .custom-shape-divider-top-1692342609 svg {
            position: relative;
            display: block;
            width: calc(138% + 1.3px);
            height: 18px;
        }

        .custom-shape-divider-top-1692342609 .shape-fill {
            fill: #F8F8F8;
        }

        .custom-shape-divider-bottom-1692342683 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1692342683 svg {
            position: relative;
            display: block;
            width: calc(138% + 1.3px);
            height: 18px;
        }

        .custom-shape-divider-bottom-1692342683 .shape-fill {
            fill: #F8F8F8;
        }

    }

    .commercial-residential {
        .service-row {
            display: flex;
            justify-content: space-between;

            @media (max-width: 992px) {
                flex-direction: column;
            }

            .service-col {
                width: 48%;
                border-radius: 12px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                @media (max-width: 992px) {
                    width: 100%;
                }

                .img-div {
                    width: 100%;
                    max-height: 20rem;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        width: 100%;
                        object-fit: cover;
                        max-height: 20rem;

                        &:hover {
                            transform: scale(1.1)
                        }
                    }
                }

                .info-div {
                    padding: 1rem;

                    .service-header {
                        font-size: 28px;
                        font-weight: 500;
                        transition: all 0.5s;
                        cursor: pointer;

                        &:hover {
                            color: $primary;

                            i {
                                margin-left: 0.5rem;
                                color: $primary;
                            }
                        }
                    }

                    p {
                        margin-top: 1rem;
                        margin-bottom: 1.4rem;
                    }
                }
            }
        }
    }


    // * PORTFOLIO SECTION START
    .portfolio {
        padding: 2rem 0;

        &-pic__row {
            margin-top: 2rem;

            @include media-breakpoint-down(md) {
                row-gap: 1.8rem;
                text-align: center;
            }
        }

        &__img-container {
            display: flex;
            flex-direction: column;

            @include media-breakpoint-down(md) {
                flex-direction: row;
                column-gap: 1.8rem;
            }

            @include media-breakpoint-down(sm) {
                flex-direction: row;
            }
        }

        &__img {
            border-radius: 10px;
            max-width: 425px;
            max-height: 270px;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &--big {
                max-width: 750px;

                @include media-breakpoint-down(md) {
                    max-width: 395px;
                }
            }
        }
    }


    // TEST SECTION STARTS

    .content-overlay-text {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #ffffff;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            -webkit-line-clamp: 1;
        }
    }

    .content-dates {
        display: flex;
        align-items: center;
        margin-top: 0.1rem;
        column-gap: 1rem;
    }

    .content {
        position: relative;
        // width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .content .content-overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
        border-radius: 12px;
    }

    .content:hover .content-overlay {
        opacity: 1;
    }

    .content-details {
        position: absolute;
        text-align: center;
        padding: 0.8rem;
        width: 100%;
        // bottom: 50%;
        // left: 50%;
        opacity: 0;
        // -webkit-transform: translate(-50%, -50%);
        // -moz-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
    }

    .content:hover .content-details {
        top: 0;
        // right: 10%;
        opacity: 0.8;
    }

    .content:hover .content-details2 {
        top: 50%;
        transform: translateY(-50%);
        // right: 10%;
        opacity: 0.8;

        @include media-breakpoint-down(lg) {
            top: 0%;
        }
    }

    .content-details p {
        color: #fff;
        font-weight: 600;
        font-size: 1.3rem;

        @include media-breakpoint-down(sm) {
            font-size: 0.85rem;
            line-height: 24px;
        }

        a {
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }